ul,li{
    text-decoration: none;
    list-style-type: none;

}
.container{
    background: #0bc6e7;
    background: linear-gradient(to right bottom, #93e8f3, #293f50);
}
.user_secion{
background-color: aliceblue;

display: flex;
justify-content: center;
padding-top: 20px;
}

.avatar{
    width: 100px;
}
.user-info{
    border:1px solid darkgray;
    width: 300px;
    height: auto;
    background-color:white;
    border-radius: 5%;
    box-shadow: 10px 5px 5px grey;

}

.avatar{
    margin-top: 20px;
    display: flex;
    border: 1px solid darkgray;;
    border-radius: 50%;
    padding: 2px;
    align-items: center;
    margin-left: 100px;
    

}
.user-foto{
    display: inline;
    text-align: center;
    justify-content: center;
}

.user-name{
    font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
}

.user-tag{
    font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 14px;
        color: darkgray;
}

.stats{
margin-top: 20px;
    gap: 35px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(210, 231, 242);
    border-top: 1px solid darkgray;
}
.status-follower{
margin-top: 10px;

}
.label{
        font-family: 'Roboto', sans-serif;
            font-weight: 200;
            font-size: 14px;
            line-height: 14px;
            color: darkgray;
            padding-right: 8px;
           



}
.quantity{
                display: flex;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                font-size: 14px;
                padding-right: 8px;
                padding-top: 15px;
                margin: auto;
                text-align: center;
                padding-bottom: 20px;
}
.stats-line{
    position: relative;
    
}


.stats-line::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: darkgray;;
}