.transaction-history {
    width: 500px;
    height: 200px;
    float: left;
    margin-left: 5px;
}

.transaction-history,
.type,
.amount {
    text-align: center;
    border: 2px solid grey;
}

.type,
.amount {
    background: #ffffffc5;
    padding: 10px;
}

.trans-caption {
    font-size: 20px;
    color: white;
    background-color:rgb(0, 217, 255)
}

* {
    text-align: center;
}
.type{
        text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 14px;;

}

.amount{
        text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color:grey;

        }

        