
.label-info{
        border: 1px solid grey;
            width: 300px;
            height: auto;
            background-color: white;
            border-radius: 5%;
            box-shadow: 10px 5px 5px grey;
}

.title-label{
    text-align: center;
        font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 14px;
            color: grey;
            margin-top: 20px;
            margin-bottom: 20px;
}

.stat-list{
display: flex;
padding-right: 20px;
    
}

.percentage{

        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        padding-top: 15px;
        text-align: center;
        padding-bottom: 10px;
        color:white;
      
}
.stat-item{

   display: flex;
   flex-wrap: wrap;

}
.stat-label{
        font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            padding-right: 8px;
            padding-top: 15px;
            color:white;
            text-align: center;


}